.pick_employee {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.employee_section {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 10px;
    box-sizing: border-box;
    transition: .3s;
    cursor: pointer;
    border-top: 1px solid var(--light);
}

.employee_section_top {
    border-top: none;
}

.employee_section_selected {
    background-color: var(--lightblue);
    box-shadow: 0 0 5px var(--light);
}

.employee_section:hover {
    box-shadow: 0 0 5px var(--light);
}

.pick_employee_title {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 500;
}

.employee_image {
    height: 70px;
    width: 70px;
    border-radius: 100px;
    object-fit: cover;
    box-shadow: 0 0 10px var(--dark);
    flex-shrink: 0;
}

.employee_image_random {
    height: 70px;
    width: 70px;
    display: flex; 
    align-items: center;
    justify-content: center;   
    border-radius: 100px;
    box-shadow: 0 0 10px var(--dark);
    background-color: var(--lightest);
}

.employee_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}

.employee_name {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 3px;
}

.employee_desc {
    color: var(--darker);
    font-size: 12px;
}

@media (max-width: 800px) {
    .pick_employee {
        width: 45%;
    }
}

@media (max-width: 600px) {
    .pick_employee {
        width: 100%;
    }
}


